---
import type { Content as Props } from '~/types';
import Headline from '../ui/Headline.astro';
import WidgetWrapper from '../ui/WidgetWrapper.astro';
import Button from '~/components/ui/Button.astro';
import ItemGrid from '../ui/ItemGrid.astro';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  description = await Astro.slots.render('description'),
  tagline,
  content = await Astro.slots.render('content'),
  textSource = await Astro.slots.render('textSource'),
  link = await Astro.slots.render('link'),
  callToAction,
  items = [],
  columns,
  isAfterContent = false,
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper
  id={id}
  isDark={isDark}
  containerClass={`max-w-7xl mx-auto ${isAfterContent ? 'pt-0 md:pt-0 lg:pt-0' : ''} ${classes?.container ?? ''}`}
  bg={bg}
  
>
  <Headline
    title={title}
    subtitle={subtitle}
    tagline={tagline}
    description={description}
    classes={{
      container: 'max-w-xl sm:mx-auto lg:max-w-2xl',
      title: 'text-4xl md:text-5xl font-bold tracking-tighter mb-4 font-heading dark:text-white',
      subtitle: 'max-w-3xl mx-auto sm:text-center text-xl text-muted dark:text-slate-400',
      description: 'px-8 py-4 text-[1.25rem] text-[#7c89a1] font-medium',
      image: 'flex h-7 w-7 items-center justify-center rounded-full bg-green-600 dark:bg-green-700 text-gray-50 p-1',
    }}
  />
  <div class="mx-auto max-w-7xl p-4 md:px-8">
      <div class="md:basis-1 self-center">
        {content && <div class="mb-12 text-lg dark:text-slate-400" set:html={content} />}

        {
          callToAction && (
            <div class="mt-[-40px] mb-8 text-primary">
              <Button variant="link" {...callToAction} />
            </div>
          )
        }

<ItemGrid
items={items}
columns={columns}
defaultIcon="tabler:check"

classes={{
  container: `gap-y-4 md:gap-y-8`,
  panel: 'max-w-none',
  title: 'text-lg font-medium leading-6 dark:text-white ml-2 rtl:ml-0 rtl:mr-2',
  description: 'text-muted dark:text-slate-400 ml-2 rtl:ml-0 rtl:mr-2',
  icon: 'flex h-7 w-7 items-center justify-center rounded-full bg-green-600 dark:bg-green-700 text-gray-50 p-1',
  action: 'text-lg font-medium leading-6 dark:text-white ml-2 rtl:ml-0 rtl:mr-2',
  image: 'flex h-7 w-7 items-center justify-center rounded-full bg-green-600 dark:bg-green-700 text-gray-50 p-1'
}}
/>
      </div>
  </div>
  <div class=" hover: text-[#082D53]  text-dark text-xs dark:text-slate-400 ml-2 rtl:ml-0 rtl:mr-2">
  <a href={link} target="_blank">{textSource}</a>
  </div>
  

</WidgetWrapper>
